
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
    font-family: "Times New Roman", Georgia, Serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
   }


.clear {
    clear:both;
}

.header{
   padding: 8px 0 8px 0;
    background-color: dimgray;
    
}

.logo{
    margin-left: 100px;
    background-color: #ff8000;
    float: left;
}

.logo a{
    
    display: block;
    height:35px;
    width:140px;
}

.headermenu{
    margin-left: 60px;
    float:left;
}

.headermenu ul{
    list-style-type: none;
    line-height: 35px;
}

.headermenu li{
   float:left;
   margin:0 20px 0 20px;
}

.headermenu a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:#aaaaaa;
}

.headermenu a:hover{
    color:#444444;
}



.banner {
    
    background-color: #71c4ea;
    height: 485px;


}

.workSection{
    padding:64px 0 110px 0;
}

.workSection h3{
    
    text-align: center;
    color:#444444;
    font-size: 36px;
    font-weight: bold;
}

.thumbNailListWrapper{
    padding-top:70px;
    
}

.thumbNailList{
     margin-left: 150px;
     list-style-type: none;
}



.thumbNailList li {
    margin-right: 35px;
    width: 180px;
    float:left;

}

.thumbNailList li.clear {
    float: none
}


.circle{
    margin: 0 auto;
    width:140px;
    height:140px;
    border-radius:50%;
   
    background:#efefef;
}


.para{
	display:block;
	text-decoration: none;
    margin-top: 30px; 
    color:#888888;
    font-size: 18px;
    
}

.para:hover {
    color:#444444;
}

.footer{
    padding-top:32px;
    padding-bottom: 32px;
    background-color: #ECECEC;

}

.footermenu{
    list-style-type: none;
   
    text-align: center;
}

.footermenu li{
     margin:0 20px 0 20px;
   
   display: inline-block; 
}


.footermenu a{

    text-decoration: none;
    font-size: 16px;
    color:#FF8000;
    font-weight: bold;
}

.footermenu a:hover{
    color:#444444;
    
}

.footermenu a.active{
color:#000000;

}
